.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure the dialog is on top of other elements */
  }
  
  .dialog {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Adjust width as needed */
  }
  
  .dialog-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    margin-top: 20px;
  }
  
  .cancel-button,
  .confirm-button {
    margin-left: 10px; /* Add space between buttons */
    padding: 10px 15px; /* Add padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background-color: #f44336; /* Red color for cancel button */
    color: white;
  }
  
  .confirm-button {
    background-color: #4CAF50; /* Green color for confirm button */
    color: white;
  }
  
  .cancel-button:hover,
  .confirm-button:hover {
    opacity: 0.8; /* Slightly dim buttons on hover */
  }

  .ok-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  